<!DOCTYPE html>
<html>
  <head>
    <title>Instacam</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cookie&family=Lobster+Two:ital@1&family=Roboto:wght@100;300;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    
    <meta name="description" content="Full Stack clone of Instagram" />
    <meta name="title" property="og:title" content="Instacam" />
    <meta property="og:type" content="Website" />
    <meta name="image" property="og:image" content="https://live.staticflickr.com/65535/51884966805_6eecda6a1c_z.jpg" />
    <meta name="description" property="og:description" content="Full stack web application clone of Instagram where users can publicly share photos that can be viewed, liked by, and commented on by other users" />
    <meta name="author" content="Michelle Huang" />

    <script type="text/javascript">
      window.sessionPhoneURL = "<%= image_url('session_form_phone.png') %>";
      window.searchCloseButton = "<%= image_url('close.png')  %>"
    </script>
    <%= favicon_link_tag asset_path('favicon.png') %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
